## -*- coding: utf-8 -*-

<%def name="changes(plot_name, post=None, title='Changes')">
    <div
        id="bokeh-change-plot"
        class="bokeh-plot">
        <h2>${title} ${plots[plot_name]['newest_changes']['date_range']}</h2>
        ${plots[plot_name]['newest_changes']['plot_tag']}
    </div>
    <div
        class="container">
        <div
        class="col-md-6">
            <h3> Top 10 </h3>
            ${plots[plot_name]['newest_changes']['table_html'][0]}
        </div>
    </div>
    <div
        class="container">
        <div
        class="col-md-6">
            <h3> Bottom 10 </h3>
            ${plots[plot_name]['newest_changes']['table_html'][1]}
        </div>
    </div>
</%def>

<%def name="alltime(plot_name, post=None)">
    <div
        id="bokeh-alltime-plot"
        class="bokeh-plot">
        <h2>All time</h2>
        ${plots[plot_name]['newest']['plot_tag']}
    </div>
    <div
        class="container">
        <div
        class="col-md-6">
            <h3> Top 10 </h3>
            ${plots[plot_name]['newest']['table_html'][0]}
        </div>
    </div>
    <div
        class="container">
        <div
        class="col-md-6">
            <h3> Bottom 10 </h3>
            ${plots[plot_name]['newest']['table_html'][1]}
        </div>
    </div>
</%def>
